<% include partials/header %>

<div class="landing">
        <iframe src="https://www.youtube.com/embed/qREKP9oijWI?&mute=1&autoplay=1&rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
        </iframe>
    <h1 class="landing-title">
        Welcome to my app!
    </h1>
</div>

<% include partials/footer %>